/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
  margin-top: 300px;
  margin-left: 30px
}

/* Style the container */
.container {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
}

/* Floating column for labels: 20% width */
.col-15 {
  float: left;
  width: 15%;
  margin-top: 300px;
  margin-left: 250px;
}

/* Floating column for inputs: 50% width */
.col-50 {
  float: left;
  width: 30%;
  margin-top: 300px;
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}